* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  header {
    height: 10%;
    text-align: center;
  }
  
  header img {
    width: 30%;
    margin-top: -5%;
  }
  main div.container {
    margin-bottom: 2rem;
    background-color: #060427;
    color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
  }
  main div.container h2 {
    color: rgb(21, 21, 209);
    margin-bottom: 2rem;
  }
  main div.container p.p {
    justify-content: center;
  }
  p.center,
  h3 {
    margin-top: 2rem;
    text-align: center;
  }
  button b {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    align-items: center;
  }
  p.center b {
    color: #7979e9;
  }
  div.pop-up img {
    width: 40%;
    height: 15%;
    background-color: #fff;
  }
  div.sppn {
    display: none;
    visibility: hidden;
  }
  div.pop-up {
    text-align: center;
    margin: 2%;
    padding: 5%;
    display: block;
    display: none;
  }
  div.pop-up h2 {
    text-align: center;
    font-weight: 700;
    font-size: xx-large;
    text-transform: capitalize;
  }
  div.pop-up label {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  div.pop-up input.text {
    width: 50%;
    height: 2rem;
    margin-top: 2rem;
    display: inline;
    border: none;
    outline: none;
  }
  div.copy-link {
    position: relative;
    background-color: #fff;
    display: flex;
  }
  div.copy-link input[text] {
    color: #555;
    border: none;
    outline: none;
  }
  .copy-link {
    --height: 36px;
    text-align: center;
    display: flex;
    max-width: 50%;
    margin-left: 25%;
  }
  .copy-link-input {
    flex-grow: 1;
    padding: 0 8px;
    font-size: 14px;
    border: 1px solid #cccccccc;
    border-right: none;
    outline: none;
  }
  .copy-link-input:hover {
    background-color: #eeeeee;
  }
  .copy-link-button {
    flex-shrink: 0;
    width: var(--height);
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    outline: none;
    border: 1px solid #eeeeee;
    cursor: pointer;
  }
  .copy-link-button:hover {
    background-color: #eeeeee;
  }
  input {
    text-align: center;
  }
  div.ads-box{
    width: 100%;
    height: fit-content;
    border-radius: 2px;
    text-align: center;
  }
  div.ads-box img{
    width: 20vw;
    height: 4rem;
    border-radius: 2px;
    background-color: white;
    display: inline;
    text-align: center;
    margin: 2px;
  }
::placeholder{
  text-align: center;
}